<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://54.165.220.203:3306/cs544db?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">bidur</property>
    <property name="hibernate.connection.password">bidurbk</property>
  </session-factory>
</hibernate-configuration>
